.reveal {
  font-size: 32px;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: Impact, sans-serif;
}

.reveal ul {
  font-size: 90%;
}

.reveal code {
  font-family: Monaco, Courier, monospace;
  padding: 0 0.2em;
  border-radius: 0.1em;
}

.reveal blockquote {
  width: auto;
  color: dimgray;
}

.reveal section.list-to-left ul {
  float: left;
  max-width: 50%;
}

.reveal .slide-background.present {
  opacity: 0.2;
}

.reveal .slides {
  overflow: hidden;
}

.reveal .slides .slide {
  transition: all 600ms 100ms ease-in-out;
  min-height: 50vh;
  max-height: 80vh;
}

.reveal .slides .slide.is-active {
  transform: translateX(0);
}

.reveal .slides .slide.is-left-deck {
  transform: translateX(-101%);
  display: none;
}

.reveal .slides .slide.is-right-deck {
  transform: translateX(101%);
  display: none;
}
