html {
  background-color: rgba(31, 31, 31, 0.1);
}

.reveal {
  margin: 3rem 0;
  font-size: calc(8px + 2vw);
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  font-family: Impact, sans-serif;
  margin-top: 1em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal p {
  text-align: center;
}

.reveal h1 { font-size: 1.3em; }
.reveal h2 { font-size: 1.2em; }

.reveal blockquote p {
  text-align: left;
}

.reveal ul {
  font-size: 0.85em;
}

.reveal code {
  font-family: Monaco, Courier, monospace;
  padding: 0 0.2em;
  border-radius: 0.1em;
}

.reveal pre {
  font-size: 50%;
}

.reveal blockquote {
  width: auto;
  color: dimgray;
}

.reveal .slide-background.present {
  opacity: 0.2;
}

.reveal .slides {
  position: relative;
  width: 100%;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) and (orientation: portrait) {
  .reveal .slides {
    max-width: none;
  }
}

/* HACK pseudo-class :-webkit-full-screen somehow not working. Needs investigation */
:-webkit-full-screen-ancestor .reveal .slides {
  width: 100%;
  max-width: none;
}

:-webkit-full-screen .reveal .slides,
:-moz-full-screen .reveal .slides,
:fullscreen .reveal .slides {
  width: 100%;
  max-width: none;
}

.reveal .slides:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.reveal .slides .slide {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.reveal .slides .slide.is-active {
  transform: translateX(0);
}

.reveal .slides .slide.is-left-deck {
  transform: translateX(-101%);
  display: none;
}

.reveal .slides .slide.is-right-deck {
  transform: translateX(101%);
  display: none;
}
